/* Media Query for Large Screens (1535px and below) */
@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: 0.2s;
  }
  .icons {
    padding: 0 3%;
    transition: 0.2s;
  }
  section {
    padding: 0 12%;
  }
}

/* Media Query for Medium Screens (1340px and below) */
@media (max-width: 1340px) {
  .user-img {
    width: 100%;
    height: auto;
  }
  .user-text h1 {
    font-size: 75px;
    margin: 0 0 30px;
  }
}


@media (max-width: 1195px) {
  section {
    padding: 0 3%;
    transition: 0.2s;
  }
  .user-text {
    padding-top: 115px;
  }
  .user-img {
    text-align: center;
  }
  .user-img img {
    width: 560px;
    height: auto;
  }
  .user {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .icons {
    display: none;
  }
}

/* Media Query for Small Screens (990px and below) */
@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: 100%;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #3d3d3d;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    transition: all 0.55s ease;
  }
  .navlist a {
    margin-left: 0;
    display: block;
    margin: 7px 0;
  }
  .navlist.open {
    right: 0;
  }
}

/* Media Query for Extra Small Screens (680px and below) */
@media (max-width: 680px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }
}

/* Media Query for Mobile Devices (768px and below) */
@media (max-width: 768px) {
  /* Add specific styles for mobile devices here */
  #about {
    padding: 0 3%;
  }
  .about-col-1 img {
    max-width: 100%;
    height: auto;
  }
  .about-col-2 h1.sub-title {
    font-size: 30px;
  }
  #sae {
    padding: 0 3%;
  }
  #contacts {
    padding: 0 3%;
  }
}
